<div class="panel-heading">People</div>
<div class="panel-body">
    <p>This list of people is a list of users fetched from
        <a href="http://jsonplaceholder.typicode.com/" target="_blank">http://jsonplaceholder.typicode.com/</a>
    </p>
</div>
<!-- Table -->
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="loading">
            <td colspan="4" class="text-center"><img src="img/spinner.gif" alt="loading..."/></td>
        </tr>
    </tbody>
</table>